body {
  overflow: hidden;
}

.event {
  height: fit-content;
}

.eventTag {
  margin: 0;
}

.reserva {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.date-inputs, .selecionar-veiculo {
  height: 100%;
}

.date-inputs {
  width: 60%;
}

.selecionar-veiculo {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Modal */
.modal-content header {
  text-align: center;
}

.modal-content i {
  font-size: 5rem;
  margin: 0 auto;
}

.modal .input-field {
  margin-bottom: 2rem;
}