header {
	display: flex;
	align-items: center;
	padding: 2rem 0;
}

header h1 {
	display: inline;
	margin: 0 0 0 1rem;
}

select {
  display: inline-block!important;
}
.div.material-table table th:last-child, div.material-table table td:last-child > *{
	left: 50% !important;
	transform: translate(-50%);
}

.btn-details:hover{
	background-color: rgba(156, 70, 70, 0.082) !important;
}

.waves-effect.waves-purple .waves-ripple {	
	 background-color: rgba(63, 81, 181, 0.85);
}

#details{
	line-height: 30px;
}

.modal{
	max-height: 90% !important;
}


@media screen and (max-width: 800px) {
	.fc-header-toolbar {
	  flex-direction: column;
	  flex-flow: column;
	  align-items: flex-start !important;
	}
  
	.fc-header-toolbar > * {
	  margin-bottom: 1rem;
	}
  
	.date-inputs {
	  width: 100%;
	}
  
	.quick-access {
	  display: flex;
	  align-items: center;
	}
  
	.quick-access > *:first-child {
	  height: 40px;
	}
  
	.quick-access .sidenav-trigger {
	  position: relative;
	  bottom: .75rem;
	}
  }
  
  @media screen and (max-width: 600px) {
	.buttonContainer button{
	  width: 100%;
	  margin: 5px;
	}
  
	.quick-access .sidenav-trigger {
	  bottom: .25rem;
	}
  }
  
  .table-footer{
	flex-wrap: wrap;
  }
  
  @media screen and (max-width: 380px) {
	.table-title{
	  font-size: 16px !important;
	}
  
	.dataTables_length{
	  margin-right: 2px !important;
	}
  
	h2 {
	  font-size: 2.5rem;
	}
  
	.date-inputs .row {
	  display: flex;
	  flex-direction: column;
	}
  
	.quick-access > *:last-child {
	  display: none;
	}
  
	.quick-access .sidenav-trigger {
	  bottom: 0;
	  width: 40px;
	  height: 40px;
	}
  
	.det-buttons {
	  flex-direction: column;
	  align-items: stretch !important;
	}
  
	.det-buttons button {
	  margin-bottom: 1rem;
	}
  }
