html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

*{
  box-sizing: border-box;
}

/* REMOVE ARROWS FROM INPUT NUMBER */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}