nav .nav-wrapper {
	padding: 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .sidenav-trigger {
	width: 64px;
	height: 64px;
	margin: 0 !important;
}

nav .sidenav-trigger:hover, nav .reservar:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

nav .sidenav-trigger i {
	font-size: 32px;
}

nav .reservar {
  margin: 0 !important;
}

nav .nav-wrapper .usuario {
	display: flex;
}

nav .nav-wrapper .usuario .nome {
  font-size: 1.25rem;
  font-weight: 500;
  margin-right: 0.5rem;
  line-height: 25px;
  display: flex;
  align-items: center;
}

nav .nav-wrapper .usuario i.account-circle {
	font-size: 32px;
  margin-right: 0.5rem;
}

#nav-dropdown li>* {
  display: flex;
  align-items: center;
}
#nav-dropdown {
  width: auto !important;
}
/* optional */
#nav-dropdown a> i {
  margin-right: 16px;
}

.sidenav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 1rem;
}

.sidenav .top-header {
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidenav .sidenav-close {
  display: inline-block;
}

.sidenav .sidenav-close:hover {
  cursor: pointer;
}

.sidenav .sidenav-close:hover {
  background-color: rgba(255, 255, 255, 0.15) !important;
}

.info-user{
  display: flex;
  margin-left: 32px;
}
.info-user div{
  margin-left: 13px;
  line-height: 25px;
}

.info-user div span:first-child{
  letter-spacing: .01785714em;
    font-family: 'Google Sans',Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 550;
    line-height: 1.25rem;
    color: #3c4043;
}
.info-user i{
  color: rgba(0, 0, 0, 0.54);
  font-size: 40px;
}
@media screen and (max-width: 600px) {
  .sidenav {
    width: 100vw;
  }
}