.user-icon {
  margin-right: 2rem;
}

#modal1 {
  max-height: 96% !important;
  max-width: 100% !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.icon-close{
  position: fixed !important;
  top: 10%;
  float: right !important;
}

select{
  display: inline-block!important;
}

#tipo-usuario, #departamento{
  display: none !important;
}

#toast-container {
  top: 5px !important;
  right: auto !important;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  max-height: 250px;
}

#submitDelete{
  left: 50%;
  transform: translate(-50%);
}

#modal2{
  max-width: 600px !important;
}

.btnEdit{
  margin-right: 4%;
}

#btn-novo-usuario{
  position: fixed;
  right: 6vw;
  bottom: 7vh;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}