.car-icon {
  margin-right: 2rem;
}

select{
  display: inline-block!important;
}

#confirm, #placa{
  text-transform: uppercase;
}

.btnEdit{
  margin-right: 4%;
}

.modal{ 
  max-height: 100% !important;
}

#modal2{
  max-width: 600px !important;
}

#toast-container {
  top: 5px !important;
  right: auto !important;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  max-height: 250px;
}

#btn-novo-veiculo{
  position: fixed;
  right: 6vw;
  bottom: 7vh;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}
#submitDelete{
left: 50%;
transform: translate(-50%);
};