.car-icon {
  margin-right: 2rem;
}

select{
  display: inline-block!important;
}

#placa{
  text-transform: uppercase;
}

.btnEdit{
  margin-right: 4%;
}

.modal{ 
  max-height: 100% !important;
}

.current{
  background-color: brown  !important;
}